.selected {
    color: yellow;
    font-weight: bold;
}

.active:hover {
    background-color: #333333;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.container {
    display: flex;
    height: 100dvh;
    overflow: hidden;
    background-color: #000000;
}

.active:active {
    background-color: #555555;
    color: #FFFFFF;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    padding: 1em 8em 1em 4em;
    transition: margin-left 0.3s ease;
    color: #FFFFFF;
    background-color: #222222;
}

.mainContent.open {
    margin-left: 16em;
}

.mainContent.closed {
    margin-left: 0em;
}


.law_title {
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    margin-bottom: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.law_article {
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
    margin: 1em 0;
}

.law_paragraph {
    font-size: 1.2em;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0.75em 0 0.75em 1em;
}

.law_sub_paragraph {
    font-size: 1.1em;
    font-weight: normal;
    color: #F5F5F5;
    margin: 0.5em 0 0.5em 2em;
}

.law_item {
    font-size: 1em;
    font-weight: normal;
    color: #F5F5F5;
    margin: 0.25em 0 0.25em 3em;
}

.active:hover {
    background-color: #333333;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.active:active {
    background-color: #555555;
    color: #FFFFFF;
}

.selected {
    color: yellow;
    font-weight: bold;
}


@media (max-width: 600px) {
    .law_title {
        margin-bottom: 1em;
    }
    .mainContent {
        padding: 1em;
        padding-top: 3em;
    }


}